@mixin device($breakpoint) {
  @if $breakpoint == 'XSM' {
    @media (max-width: 25.875em) {
      @content;
    }
  }

  @if $breakpoint == 'SM' {
    @media (max-width: 48em) {
      @content;
    }
  }

  @if $breakpoint == 'MD' {
    @media (max-width: 64em) {
      @content;
    }
  }

  @if $breakpoint == 'LG' {
    @media (max-width: 85.375em) {
      @content;
    }
  }

  @if $breakpoint == 'XLG' {
    @media (min-width: 120em) {
      @content;
    }
  }
}

html {
  font-size: 62.5%;

  @include device('LG') {
    font-size: 56%;
  }

  @include device('MD') {
    font-size: 50%;
  }

  @include device('SM') {
    font-size: 45%;
  }

  @include device('XSM') {
    font-size: 40%;
  }
}
