@import './base/variables.scss';
.statement {
  color: darken($color-blue, 20%);
  font-weight: 900;
  font-size: 3rem;
  margin: 2rem;
}
.content {
  background: $color-light;
  padding: 3rem;
}

.skillsHeader {
  margin-top: 5rem;
  font-weight: bold;
}

.skillsList {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: left;
  font-family: $font-primary;
}
